{% extends "lktest/base.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="/static/css/my.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}   <!-- style -->

{% block bodyclass %}dashboard{% endblock %}      <!-- style -->

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">На сайт</a>
</div>
{% endblock %}


{% block content %}
<div id="content-main">
	<p>здесь моя территория!</p>
	<p><a href="{% url 'lktest:ping' %}">send e-mail ping</a>
	<br><span class='at-info'> {{ ping }} </span>
	</p>
	<p><a href="{% url 'lktest:forms' %}">all forms</p>
	<br><br>
	<p><a href="{% url 'lktest:smpg' %}">check some f.. page</a></p><br><br>
        <p> >> <a href="{% url 'lktest:inactive' %}">delete inactive users (3 days deadline)</a></p>
        <p> >> <a href="{% url 'lktest:nonvalid' %}">check and delete nonvalid users (no user-profiles)</a></p>
        <p> >> <a href="{% url 'lktest:noaction' %}">delete users with absolutly no actions in half-year (and send emails)</a></p>
		<p> >> users with only forum activity in half-year: <a href="{% url 'lktest:forum_send' %}">send mails (create list)</a> |
			                                               <a href="{% url 'lktest:forum_check' %}">check list</a> |
		                                                   <a href="{% url 'lktest:forum_delete' %}">delete users (from list)</a></p>
	<br><br>
        <p>рассылка напомнаний: <a href="{% url 'lktest:list' %}">make list</a> 
        | <a href="{% url 'lktest:send' %}">send (and again)</a></p>


<br/>{% if LANGUAGE_CODE == 'ru' %}<b>ru</b>{% else %}<a href = "{% url 'lang' 'ru' %}">ru</a> {% endif %}
/ {% if LANGUAGE_CODE == 'en' %}<b>en</b>{% else %}<a href = "{% url 'lang' 'en' %}">en</a>
{% endif %}


</div>
{% endblock %}


