{% extends "base.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="/static/css/my.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}   <!-- style -->

{% block bodyclass %}dashboard{% endblock %}      <!-- style -->

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
	<div class='module'>
		<table>
		<caption><a href="{% url 'lkforms:forms' %}" class="section">Мои формы</a></caption>
		<tr><th scope="row">
        <a href="{% url 'lkforms:forms' %}"><span class='index-warn quiet'>
        <p>{% if br %}
           <b>У вас заполнена базовая анкета и выбрана текущая категория:</b>
              {% for b in br %}
                <br><img src="/static/admin/img/icon-yes.gif">{{ b.name }}
              {% endfor %}
           {% else %}
        <b>Начните с заполнения базовой формы (анкеты) в данном разделе.</b>
        <br>Базовые анкеты определяют различные категории пользователей - вам необходимо выбрать свою (только одну) и заполнить ее. 
        <br>Остальные формы станут доступны после и будут зависеть от категории, которую вы выберете.
	<br>Будьте внимательны - вы <ins>не сможете самостоятельно изменить свою категорию</ins>.
        <br><br>Обратите внимание, если вы не заполните ни одной базовой формы (хотя бы "Анкеты гостя"), <ins>ваш профиль будет удален через 6 месяцев после регистрации</ins>.
        {% endif %}
        </p>
		</span></a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
		</table>
	</div>

<div class='module'>
		<table>
		<caption><a href="" class="section">Мои документы</a></caption>
		<tr><th scope="row">
        <a href="" class="section"><span class='index-warn quiet'>
       <p><b>Здесь Вы можете скачать дипломы, сертификаты и прочие электронные документы в формате pdf.</b> Для просмотра документов после скачивания используйте Adobe Reader.
       </p>
		</span></a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
		</table>
	</div>


	<div class='module'>
		<table>
		<caption><a href="{% url 'lkforum:app_index' %}" class="section">Обратная связь</a></caption>
		<tr><th scope="row">
        <span class='index-warn quiet'>
       <p><b>Если у вас есть вопрос, прочитайте <a href="/lk/faq">FAQ</a>.
       <br><a href="{% url 'lkforum:app_index' %}">Если это не помогло, задайте его здесь.</a></b>
       <br>Вы так же можете написать нам:
           <br><a href="mailto:aesc-priem@internat.msu.ru">aesc-priem@internat.msu.ru</a> - новый прием в СУНЦ
           <br><a href="mailto:zash-sunc@mail.ru">zash-sunc@mail.ru</a> - заочная школа, дистанционные курсы
           <br><a href="mailto:lksunc@gmail.com">lksunc@gmail.com</a> - техподдержка
	   <br><br>Пожалуйста, обращайтесь с техническими вопросами (не могу найти/открыть/поменять/отменить) в техподдержку, 
           а со всеми остальными - в соответствующую тему. 
           <br><br><ins>Замечания от техподдержки</ins> 
           <br>- пишите с почты, указанной при регистрации, иначе мы не сможем вас идентифицировать
           <br>- ваши проблемы будут решаться быстрее, если вы будете прикладывать к своим письмам скриншоты происходящего
       </p>

		</span></th><td>&nbsp;</td><td>&nbsp;</td></tr>
		</table>
	</div>
	{% for g in user.groups.all %}{% if g.id == 1 %}
	<div class='module'>
		<table>
		<caption><a href="{% url 'lkmoderation:app_index' %}" class="section">Модерация</a></caption>
		<tr><th scope="row">
        <span class='mini quiet'>
			<p>В этом разделе Вы можете:<br>
			- <b>принимать решения типа да/нет</b> в ответ на запросы модерации форм и вопросов<br>
			- <b>оставлять комментарии</b> к своим решениям<br>
			- <b>видеть решения и комментарии</b> всех модераторов<br>
			- при модерации <b>просматривать внешний вид</b> как текущего (при наличии), так и нового (запрашиваемого к модерации) состояния формы<br>
			- при модерации <b>видеть списки редакторов и читателей формы</b>, как текущие, так и запрашиваемые к модерации<br>
			</p>
			</span></th><td>&nbsp;</td><td>&nbsp;</td></tr>
		</table>
	</div>	
	{% endif %}
	{% if g.id == 5 and not user.use_forms.all %}
	<div class='module'>
		<table>
		<caption><a href="{% url 'lkmoderation:readform' %}" class="section">Дополнительные возможности</a></caption>
		<tr><th scope="row">
        <span class='mini quiet'>
			<p>В этом разделе Вы можете:<br>
			- <b>просматривать внешний вид</b> доступных Вам форм<br>
			- <b>скачивать в txt</b> доступные Вам формы<br>
			</p>
		</span></th><td>&nbsp;</td><td>&nbsp;</td></tr>
		</table>
	</div>	
	{% endif %}{% endfor %}
	{% if user.use_forms.all %}
	<div class='module'>
		<table>
		<caption><a href="" class="section">Дополнительные возможности</a></caption>
		<tr><th scope="row">
        <span class='mini quiet'>
			<p>Здесь будут инструкции для простых пользователей</p>
		</span></th><td>&nbsp;</td><td>&nbsp;</td></tr>
		</table>
	</div>	
	{% endif %}

	{% if not user.profile.all.0.regres_profile.count %}
	<div class="module">
		<p></p>
	</div>
	{% endif %}
</div>


    
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2><a href="/lk/faq"><img src="/static/admin/img/icon-unknown.gif"> FAQ</a></h2>
    </div><br>
    <div class="module" id="recent-actions-module">
        <table>
        <caption>Мой профиль</caption>
         <tbody>      
		<tr><th><span class='mini quiet'>Логин</span>
		<br/><span class='index-warn'>{{ user.username }}</span></th><td></td><td></td></tr>
		<tr><th><span class='mini quiet'>Email</span>
		<br/><span class='index-warn'>{{ user.email }}</span></th><td></td><td></td></tr>
		<tr><th><span class='mini quiet'>Фамилия</span>
		<br/><span class='index-warn'>{{ user.profile.all.0.sname }}</span></th><td></td><td></td></tr>
		<tr><th><span class='mini quiet'>Имя</span>
		<br/><span class='index-warn'>{{ user.profile.all.0.name }}</span></th><td></td><td></td></tr>
		<tr><th><span class='mini quiet'>Отчество</span>
		<br/><span class='index-warn'>{{ user.profile.all.0.pname }}</span></th><td></td><td></td></tr>
		<tr><th><span class='mini quiet'>Пол</span>
		<br/><span class='index-warn'>{{ user.profile.all.0.get_sex_display }}</span></th><td></td><td></td></tr>
		<tr><th><span class='mini quiet'>Дата рождения</span>
		<br/><span class='index-warn'>{{ user.profile.all.0.bday }}</span></th><td></td><td></td></tr>
		{% if user.groups.count %}
		<tr><th><span class='mini quiet'>Административные права</span>
		{% for g in user.groups.all %}
		<br/><span class='index-warn'>{{ g }}</span>
		{% endfor %}
		{% if user.is_superuser %}<br><span class='index-warn'>Главный администратор</span>{% endif %}
		</th><td></td><td></td></tr>{% endif %}
          </tbody> 
         </table>
    </div>
</div>
{% endblock %}
