{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
<!-- my code -->
		<tr><th scope="row">
		{% if app.name|lower == 'lkforms' %}
            <span class='mini quiet'>
			<p>В этом разделе Вы можете:<br>
			{% if user.is_superuser %}
			- <b>создавать, просматривать, редактировать и удалять</b> все существующие Формы и Вопросы<br>
			- <b>создавать связанную Форму для модерации</b><br>
			- <b>отправлять в архив</b> регистрации и результаты всех существующих Форм, а так же ответы на Вопросы<br>
			- <b>загружать и публиковать</b> результаты<br>
			- <b>просматривать, редактировать и скачивать</b> все существующие Профили пользователей (общие данные, а так же все активные и архивные данные о регистрациях, результатах и ответах на вопросы)<br>
			- <b>создавать и удалять</b> Профили пользователей (однако, категорически не рекомендуется делать это)<br>
			- <b>загружать данные извне</b> (ответы на вопросы)<br>
			<p><b>Настоятельно рекомендуется</b> при редактировании (добавление/удаление вопросов, изменение доступа для других администраторов) Форм, имеющих связанную Форму для модерации, выполнять все 
			аналогичные изменения в соответствующей Форме для модерации также.<br>
			{% else %}
			{% for g in user.groups.all %}{% if g.id == 2 %}
			- <b>просматривать и вносить изменения, не требующие модерации,</b> в доступные Формы (те, для которых Вы являетесь владельцем или редактором)<br>
			- <b>загружать и публиковать</b> результаты Форм<br>
			- <b>просматривать Вопросы</b>, принадлежащие доступным Вам Формам<br>
			- <b>отправлять запросы на удаление и архивирование</b> доступных Вопросов<br>
			{% endif %}{% endfor %}
			- <b>скачивать данные</b> (регистрации, ответы на вопросы) Форм в любых комбинациях<br>
			- <b>скачивать Профили</b> (общие данные и все регистрации, включая архивные) всех, зарегистрированых на выбранные Формы<br>
			- <b>сранивать списки</b> зарегистрированных на Форму с предварительно загруженным эталонным<br>
			- <b>просматривать внешний вид и скачивать </b> Формы в txt формате<br>
			</p>
			<p><b>Внимание!</b> Если при попытке выполнить некое действие с Формой ничего не происходит (или Вас просят еще раз ввести пароль), скорее всего, это связано с тем, что у Вас нет прав 
			на выполнение этого действия (особенно, если Вы - Читатель данной Формы), но пока не найдено возможности целиком закрыть Вам доступ к нему. Если Вы уверены, 
			что это не так, пожалуйста, свяжитесь с техподдержкой, написав на lksunc@gmail.com или задав вопрос в соответствующей теме Обратной связи. 
			Приносим извинения за доставленные неудбоства.
			</p>
			{% endif %}
			</span>
		{% endif %}
		{% if app.name|lower == 'lkforum' %}
            <span class='mini quiet'>
			<p>В этом разделе Вы можете:<br>
			- <b>назначать и удалять Адресатов вопросов</b> из списка пользователей ЛК<br>
			- <b>создавать новые тематические разделы</b><br>
			- <b>менять Адресатов по умолчанию</b> у тематических разделов<br>
			- <b>создавать, просматривать, редактировать и удалять</b> Вопросы и ответы<br>
			- <b>повторно отправлять письма</b> адресатам вопросов (рекомендуется делать при смене адресата вопроса)<br></p>
			<p><b>Не рекомендуется</b> использовать данный раздел для ответа на вопросы, поскольку в этом случае автор вопроса не будет извещен по почте об ответе.
			Используйте для этих целей интерфейс в Пользовательской части сайта.<br>
			</p>
			</span>
		{% endif %}
		{% if app.name|lower == 'lkmoderation' %}
            <span class='mini quiet'>
			<p>В этом разделе Вы можете:<br>
			{% if user.is_superuser %}
			- <b>просматривать</b> Запросы на модерацию, а также Вопросы и Формы для представления к модерации<br>
			- <b>просматривать внешний вид</b> Форм для модерации<br>
			<p><b>Настоятельно не рекомендуется</b> использовать данный раздел для создания/редактирования/удаления каких-либо объектов
			без консультации с техподдрежкой. Если это возможно, для указанных целей используйте интерфейс в Пользовательской части сайта, в противном случае
			убедительная просьба обратиться по адресу lksunc@gmail.com с описанием действий, которые Вам необходимо произвести.<br>
			</p>
			{% else %}
			- <b>создавать, редактировать и удалять</b> Вопросы для модерации<br>
			- <b>создавать, редактировать и удалять</b> Формы для модерации до того, как они одобрены и связаны с конкретной Формой из раздела LkForms<br>
			- <b>добавлять в Форму для модерации</b> как уже существующие, так и новые Вопросы<br>
			- <b>запрашивать модерацию</b> на архивацию и удаление Форм при наличии связи с конкретной Формой из раздела LkForms<br>
			- <b>просматривать и вносить изменения, требующие модерации,</b> в доступные Формы (те, для которых Вы являетесь владельцем или редактором)<br>
			- <b>запрашивать модерацию</b> на синхронизацию Формы для модерации со связанной Формой из раздела LkForms (после внесенных изменений, см. предыдущий пункт)<br>
			- <b>просматривать внешний вид</b> доступных Форм для модерации<br>
			</p>
			{% endif %}
			</span>
		{% endif %}
		{% if app.name|lower == 'lkregistration' %}
            <span class='mini quiet'>
			<p>Раздел, связанный с регистрацией на сайте через подтверждение электронной почты. При необходимости, позволяет выслать ключ активации повторно в автоматическом режиме.
			Активировать пользователей вручную строго не рекоммендуется.
			</p>
			</span>
		{% endif %}
		{% if app.name|lower == 'пользователи и группы' %}
            <span class='mini quiet'>
			<p>Раздел для управления основными данными и правами Пользователей и Группами. <b>Настоятельно рекоммендуется</b> использовать только для просмотра информации
			и для включения пользователя в необходимую группу из уже созданного списка. При необходимости совершить иное действие, убедительная просьба обращаться
			в отдел техподдержки по адресу lksunc@gmail.com
			</p>
			</span>
		{% endif %}
		</th><td>&nbsp;</td><td>&nbsp;</td></tr>
<!-- my code -->
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
