{% extends "lkforms/base.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/static/css/my.css" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
<script type= "text/javascript">
function delete_confirm (id){
 if (confirm('Вы уверены, что хотите отменить регистрацию?')){
  document.location.href = "/lk/forms/form/" + id + "/reverse/"}           <!-- direct URL -->
 else{
    document.location.href = "{% url 'lkforms:forms' %}";}
 }
function collapse_theme (theme, id){
 var c = document.getElementById(theme)
 var a = document.getElementById(theme+'-'+id)
 if (id == "on"){
     c.className = ""
     a.className = "off"
     document.getElementById(theme+"-off").className = ""
 }
 if (id == "off"){
     c.className = "off"
     a.className = "off"
     document.getElementById(theme+"-on").className = ""
 }
 
 
}
</script>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}         <!-- style -->

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url 'index' %}">{% trans 'Начало' %}</a>
&rsaquo; {% trans 'Мои формы' %}</div>
{% endblock %}

{% block coltype %}flex{% endblock %}       <!-- style -->

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<div id="content-main">
 <div class="module" id="changelist">
  <form id="changelist-form" >
  {% csrf_token %}
   <div class="results">
    <p><h3>{% trans 'Активные формы' %}</h3></p> <p><i>{% trans 'Вы можете регистрироваться, отменять регистрацию, изменять свои ответы' %}</i></p>
    <table id="result_list">
     <thead>
     {% if not br %}
      <tr class='row1'><td colspan='6'>
        <b>Начните с заполнения базовой формы (анкеты).</b>
        <br>Базовые анкеты определяют различные категории пользователей - вам необходимо выбрать свою (<ins>только одну</ins>) и заполнить ее. 
        <br>Остальные формы станут доступны после и будут зависеть от категории, которую вы выберете. 
	<br>Будьте внимательны - вы <ins>не сможете самостоятельно изменить свою категорию</ins>. Исключением является "Анкета гостя" - 
        после нее остальные категории все еще остаются доступными.
        <br><img src="/static/img/attencion.png"><b>Самая распространенная ошибка - выбор неверного класса.</b> 
        <br>Внимательно читайте учебный год в названии анкеты и выбирайте тот класс, в котором вы учитесь 
       (или учились - если на дворе лето или уже осень следующего учебного года) именно <ins>в указанном на анкете учебном году</ins>. 
</td></tr>
     <tr class='row2'><td colspan='7'></td></tr>
     {% endif %}
     <tr class='row1'><td colspan='7'><img src="/static/img/icon-unknown.gif">
     <a href="{% url 'lkforms:structure' %}"><b>Структура доступности активных форм</b></a>
     <br>Если вы не нашли в списке какую-то форму, посмотрите здесь, что может ограничивать доступ к ней.</td></tr>

      <tr class='row2'><td colspan='7'></td></tr>
      <tr><th scope="col"><div class="text"><span>{% trans 'Принято' %}</span></div><div class="clear"></div></th>
          <th scope="col"><div class="text"><span>{% trans 'Регистрация' %}</span></div><div class="clear"></div></th>
	  <th scope="col"><div class="text"><span>{% trans 'Полное название формы' %}</span></div><div class="clear"></div></th>
	  <th scope="col"><div class="text"><span>{% trans 'Пояснение к форме' %}</span></div><div class="clear"></div></th>
	  <th scope="col"><div class="text"><span>{% trans 'Прикрепленный файл' %}</span></div><div class="clear"></div></th>
	  <th scope="col"><div class="text"><span>{% trans 'Отмена регистрации' %}</span></div><div class="clear"></div></th>
          <th scope="col"><div class="text"><span>{% trans 'Результаты' %}</span></div><div class="clear"></div></th>
      </tr>
     </thead>
     <tfoot>
      <tr class='row2'><td colspan='7'></td></tr>
      <tr class='row1'><td colspan='7'><img src="/static/img/icon-unknown.gif">
      <a href="{% url 'lkforms:structure' %}"><b>Структура доступности активных форм</b></a>
      <br>Если вы не нашли в списке какую-то форму, посмотрите здесь, что может ограничивать доступ к ней.</td></tr>  
     </tfoot>   
     {% for thm in thms %}
     {% if thm.0.user_theme.id = 16 or thm.0.user_theme.id = 17  or thm.0.user_theme.id = 18  or thm.0.user_theme.id = 14 or thm.0.user_theme.id = 20 or thm.0.user_theme.id = 21 or thm.0.user_theme.id = 22 %}
     <tr class='row2 quiet-header'><th colspan='6'><span class=''>
     <a id='{{ thm.0.user_theme }}-off' class="" href='javascript: collapse_theme("{{ thm.0.user_theme }}", "off")'>{{ thm.0.user_theme }} &rsaquo; {% trans 'свернуть' %}</a>
     <a id='{{ thm.0.user_theme }}-on' class="off" href='javascript: collapse_theme("{{ thm.0.user_theme }}", "on")'>{{ thm.0.user_theme }} &rsaquo; {% trans 'развернуть' %}</a></span></th></tr>
     {% endif %}
     <tbody id='{{ thm.0.user_theme }}' class="">
     {% for fm in thm|dictsort:'name' %}
      <tr class="{% cycle 'row1' 'row2' %}">
       <td>{% if fm in fmchecks %}<img src="/static/img/icon-yes.gif">{% endif %}</td>
       <th> 
        <a href="{% url 'lkforms:form' fm.id %}">{% if LANGUAGE_CODE == 'en' %}{{ fm.name_eng }}{% else %}{{ fm.name }}{% endif %}</a>
       </th>
       <td>{% if LANGUAGE_CODE == 'en' %}{{ fm.full_name_eng }}{% else %}{{ fm.full_name }}{% endif %}</td> 
       <td>{% if LANGUAGE_CODE == 'en' %}{{ fm.clarification_eng|safe|urlize|linebreaks }}{% else %}{{ fm.clarification|safe|urlize|linebreaks }}{% endif %}</td>
       <td>{% if fm.file %}<a href='/lk/forms/download/{{ fm.file }}'>{% trans 'Скачать файл' %}</a>{% endif %}</td>
       <td>{% if fm in fmchecks %}{% if fm.not_reversed %}
        <span class='mini quiet'>{% trans 'Вы не можете самостоятельно отменить регистрацию на эту форму.' %} <br>{% trans 'Напишите в техподдержку. ' %}</span>
        {% else %}<a href='javascript: delete_confirm({{ fm.id }});'><img src="/static/img/icon-no.gif"> {% trans 'Отменить' %}</a>{% endif %}
        {% else %}{% if fm.not_reversed %}
        <span class='mini quiet'>{% trans 'Вы не cможете самостоятельно отменить регистрацию на эту форму.' %}</span>{% endif %}
       {% endif %}</td>
       <td>{% for rr in user.profile.all.0.regres_profile.all %}
        {% if rr.form == fm and rr.detail_result != '' %}{% if rr.is_checkin %}
        <a href='{% url "lkforms:result" rr.form.id %}'> Посмотреть</a>{% else %}
        <span class='mini quiet'>Заполните форму, чтобы увидеть результат</span>{% endif %}
       {% endif %}{% endfor %}</td>
      </tr>
      {% endfor %}
     </tbody>
     {% endfor %}
    </table>
   </div>
   
   <div class="results">
    <br><br><p><h3>Неактивные формы</h3></p>
    <p><i>Вы можете посмотреть свои ответы и результаты, но не можете ничего изменить</i></p>
    <p><span class="at-info">К сожалению, в вопросах с выбором одного ответа периодически происходит ошибка, из-за которой сохраненные ответы не отображается в ЛК, хотя в системе все сохранено. Пожалуйста, дождитесь публикации результатов проверки Ваших ответов и только после этого, если возникнут проблемы, пишите на lksunc@gmail.com.</span></p>
    <table id="result_list">
     <thead>
      <tr><th scope="col"><div class="text"><span>Название формы</span></div><div class="clear"></div></th>
	  <th scope="col"><div class="text"><span>Полное название формы</span></div><div class="clear"></div></th>
	  <th scope="col"><div class="text"><span>Пояснение к форме</span></div><div class="clear"></div></th>
          <th scope="col"><div class="text"><span>Результаты</span></div><div class="clear"></div></th>
      </tr>
     </thead>
     <tbody>
      {% for rr in user.profile.all.0.regres_profile.all|dictsort:'form.name' %}
      {% if not rr.form.is_active and rr.is_checkin %}
      <tr class="{% cycle 'row1' 'row2' %}">
       <th><img src="/static/img/icon-yes.gif"><a href="{% url 'lkforms:showform' rr.form.id %}">{{ rr.form.name }}</a></th>
       <td>{{ rr.form.full_name }}</td> 
       <td>{{ rr.form.clarification|safe }}</td>
       <td>{% if rr.detail_result != '' %}<a href='{% url "lkforms:result" rr.form.id %}'>Посмотреть</a>{% endif %}
           {% for arr in user.profile.all.0.archregres_profile.all %}{% if arr.form == rr.form %}
           {% if arr.detail_result != '' %}<a href='{% url "lkforms:result" arr.form.id %}'>Посмотреть</a>{% endif %}
           {% endif %}{% endfor %}</td>
      </tr>
      {% endif %}
      {% endfor %}
     </tbody>
    </table>
   </div>
   
   <div class="results">
    <br><br><p><h3>Архив регистраций</h3></p>
    <p><i>Вы можете посмотреть свой результат</i></p>
    <table id="result_list">
     <thead>
      <tr><th scope="col"><div class="text"><span>Название формы</span></div><div class="clear"></div></th></th>
          <th scope="col"><div class="text"><span>Результаты</span></div><div class="clear"></div></th>
      </tr>
     </thead>
     <tbody>
      {% for arr in user.profile.all.0.archregres_profile.all|dictsort:'form.name' %}
      {% if arr.is_checkin %}
      <tr class="{% cycle 'row1' 'row2' %}">
       <th><img src="/static/img/icon-yes.gif">{{ arr.form_name }}</th>
       <td>{{ arr.detail_result|safe }}
       <br>
       {% for rr in user.profile.all.0.regres_profile.all %}{% if arr.form == rr.form %}
       {{ rr.detail_result }}
       {% endif %}{% endfor %}</td>
      </tr>
      {% endif %}
      {% endfor %}
     </tbody>
    </table>
   </div>
   
  </form>
 </div>
</div>
{% endblock %}
