{% extends "lkforms/base.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="/static/css/my.css" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url 'index' %}">Начало</a>
&rsaquo; <a href="{% url 'lkforum:app_index' %}">Обратная связь</a> 
&rsaquo; <a href="{% url 'lkforum:answers' %}">Вопросы мне</a>
&rsaquo; Ответить
	</div>
{% endblock %}

{% block content %}
<div id="content-main">
	<p class="at-info">{{ txt }}</p>
	<form method="post" >
	{% csrf_token %}
	<div>
		<fieldset class="module">
			<div class="form-row">
				<div>
					<label>Тема</label>
						<p><a href="{% url 'lkforum:topic' qa.topic.id %}">{{ qa.topic.name }}</a></p>				
				</div>
			</div>
			<div class="form-row row1">
				<div>
					<label>Вопрос</label>
						<p>{{ qa.id }}. {{ qa.question }}</p>					
				</div>
			</div>
			<div class="form-row">
				<div>
					<label>Статус</label>
					    <p>{% if qa.is_private %} 
					    Личный </p>{% else %}Общедоступный</p>	
					<br>
					<label><input type="checkbox" name="priv">изменить на Личный</label>	{% endif %}			
				</div>
			</div>
			<div class="form-row row1">
				<div>
					<label>Ответ</label>
					    
						<p><textarea name="a" cols="100" rows="3">{{ qa.answer }}</textarea></p>					
				</div>
			</div>
		</fieldset>
		<div class="submit-row">
			<input type="submit" value="Ответить" class="default" name="_save" />
		</div>
	</div>
	</form>
</div>
{% endblock %}
