{% extends "lkforms/base.html" %}
{% load i18n %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<link rel="stylesheet" type="text/css" href="/static/css/my.css" />
{% endblock %}

{% block content %}
<body class="login">
	<div id="mycontainer">
		<div id="header">
			<div id="branding">
				<h1 id="site-name">{% trans 'Ваша учетная запись активирована.' %}</h1>
				<p class='at'><a href="/">{% trans 'Заходите на сайт, используя указанные при регистрации логин и пароль.' %}</a><p>
			</div>
        </div>
	</div>
</body>
{% endblock %}
