{% extends "lkforms/base.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<link rel="stylesheet" type="text/css" href="/static/css/my.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/lk/">{% trans 'Начало' %}</a>
&rsaquo; {% trans 'Нужен ли мне личный кабинет?' %}
</div>
{% endblock %}

{% block content %}
<body class="login">
	<div id="mycontainer">

		<div id="content" class="colM">
			<div id="content-main">
				
<p style="text-align: center;"><strong>{% trans 'Создание своего Личного кабинета позволит вам' %}</strong></p>

	         - {% trans 'подавать заявки на участие в различных проектах и мероприятиях, проводимых СУНЦ МГУ: Летние школы, экзамены, Интернет-олимпиады, Заочная школа и другие' %}</li>
	<br><br> - {% trans 'участвовать в отборочном туре Интернет-олимпиады, в заочном отборочном тестировании в Заочную школу или перед экзаменами и т.п.' %}</li>
	<br><br> - {% trans 'получать электронные дипломы, свидетельства и т.п.' %}</li>
	<br><br> - {% trans 'получать более детальную информацию о своих результатах, по сравнению с публикуемой на сайте' %}</li>
	<br><br> - {% trans 'подтверждать свой приезд в Летнюю школу и на учебу в СУНЦ МГУ и т.д.' %}</li>
	<br><br> - {% trans 'задавать вопросы различной тематики и получать ответы на указанную при регистрации электронную почту' %}</li>
	<br><br> - {% trans 'получать на электронную почту рассылки и напоминания по выбранным темам' %} </li>
	
<br><br>		{% if not user.id %}<p style="text-align: center;"><a href='/accounts/instruction'>{% trans 'Хочу зарегистрироваться' %}</a></p> {% endif %}
               
			</div>
			<br class="clear" />
		</div>
	</div>
</body>
{% endblock %}
