{% extends "lkforms/base.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<link rel="stylesheet" type="text/css" href="/static/css/my.css" />
{% endblock %}

{% block content %}
<body class="login">
	<div id="mycontainer">
		<div id="header">
			<div id="branding">
				<h1 id="site-name">{% trans 'Начало работы в Личном кабинете' %}</h1>
			</div>
        </div>
		<div id="content" class="colM">
			<div id="content-main">
				
    {% trans 'При входе в свой Личный кабинет Вы попадаете на главную страницу - «Начало». Она состоит из трех основных разделов:' %}
    <ul><li>{% trans 'Мои формы (обсуждается подробно ниже)' %}</li>
	<li>{% trans 'Обратная связь (вопросы пользователей)' %}</li>
	<li>{% trans 'Мой профиль (данные, указанные при регистрации - не подлежат самостоятельному редактированию, при необходимости обращайтесь в техподдержку)' %}</li></ul>
	{% trans 'Раздел <b>«Мои формы»</b> состоит из трёх основных подразделов:' %}
    <ul><li>{% trans 'Формы, доступные для регистрации' %}</li>
	<li>{% trans 'Структура доступности активных на данный момент форм' %}</li>
    <li>{% trans 'Принятые формы (заполненные Вами анкеты и заявления)' %}</li></ul>
	{% trans 'Навигация между разделами Личного кабинета осуществляется с помощью меню, расположенного в верхней части страниц:  <span style="font-size: 11px;">Начало>…</span> .' %}
	<br><br>
<p style="text-align: center;font-size: 14px;">{% trans 'Выбор "управляющей" анкеты' %}</p>	
    {% trans 'Первоначально в разделе <b>«Формы, доступные для регистрации»</b> Вам доступно несколько анкет, определяющих различные категории пользователей - так называемые "управляющие" анкеты. Из них необходимо выбрать ту, которая соответствует Вашей ситуации (только одну). ' %}
	<br>{% trans 'Обратите особое внимание на номер класса и <i>учебный год</i> - они могут не совпадать с текущими, но должны соответствовать действительности.' %}
    <br><br>
	{% trans 'После внесения ответов на все обязательные вопросы нажмите "Сохранить" в конце формы. Если всё в порядке, то на текущей странице Вы увидите надпись "Изменения сохранены", а также в подразделе «Принятые формы» появится название-ссылка на заполненную анкету. ' %}
	<br>{% trans 'Вы можете изменять свои ответы в управляющей анкете, однако не сможете самостоятельно отменить регистрацию (в отличие от всех остальных форм).' %}
    <br><b>{% trans 'Если Вы перепутали и заполнили не ту управляющую анкету</b>, пишите в службу техподдержки. ' %}
	<br><br>
<p style="text-align: center;font-size: 14px;">{% trans 'Работа с формами' %}</p>

             - {% trans 'После заполнения управляющей анкеты Вам станут доступны формы (анкеты, заявления и т.п.), соответствующие выбранному статусу. ' %}</li>
	<br><br> - {% trans 'Пожалуйста, внимательно читайте "Полное название формы" и "Пояснение к форме", прежде чем заполнять ее.' %}
    <br><br> - {% trans 'Если Вы не можете найти необходимую форму, обратитесь к разделу <b>«Структура доступности активных на данный момент форм»</b>. Он позволяет просмотреть список ВСЕХ активных форм и узнать, какие промежуточные формы надо заполнить и сохранить, чтобы получить доступ к нужной форме.' %}
    <br><br> - {% trans 'Подраздел <b>«Принятые формы»</b> разделен на "Активные" (в них можно вносить любые изменения) и "Архив". Если на форму есть ответная реакция СУНЦ — объявлены результаты экзаменов, утверждены списки приглашённых на мероприятие, стали доступны для загрузки дипломы и т.п. — за названием формы появится ссылка "Результаты".' %}
    <br><br> - {% trans 'Когда Вы сохраняете форму первый раз, то <i>регистрируете</i> ее. В разделе <b>«Формы, доступные для регистрации»</b> ссылка в крайней правой колонке позволяет отменить регистрацию любой активной формы (кроме управляющей).' %}

    <br><br><p style="text-align: center;"><a href='/'>{% trans 'Назад' %}</a></p>
	</div>
			<br class="clear" />
		</div>
	</div>
</body>
{% endblock %}
