{% extends "lkforms/base.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/static/css/my.css" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs"><a href="{% url 'index' %}">Начало</a>
&rsaquo; <a href="{% url 'lkforms:forms' %}">Мои формы</a>
&rsaquo; Структура</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="module" id="changelist">
      <form id="changelist-form" >
	  {% csrf_token %}
		<div class="results">
			<table id="result_list">
			<thead>
			<tr>
				<th scope="col"><div class="text"><span>Форма</span></div><div class="clear"></div></th>
				<th scope="col"><div class="text"><span>Доступна, если</span></div><div class="clear"></div></th>
				<th scope="col"><div class="text"><span>Недоступна, если</span></div><div class="clear"></div></th>
			</tr>
			</thead>
			<tbody>
			{% for fm in fms|dictsort:'name' %}
				<tr class="{% cycle 'row1' 'row2' %}" >
					<th>{{ fm.name }}</th>
				    <td>{% for f in fm.aif.all %}
				    {% if not forloop.first %}<b><i>или</i></b> {% endif %}{{ f.name }}</br>
                    {% endfor %}
					{% for f in fm.aifpass.all %}
					{% if forloop.first and fm.aif.all.count %}<b><i>и</i></b></br> {% endif %}
				    {% if not forloop.first %}<b><i>или</i></b> {% endif %}{{ f.name }} - <i>пройдено успешно</i></br>
                    {% endfor %}
					{% for f in fm.aifres.all %}
					{% if forloop.first and fm.aif.all.count or forloop.first and fm.aifpass.all.count %}<b><i>и</i></b></br> {% endif %}
				    {% if not forloop.first %}<b><i>или</i></b> {% endif %}{{ f.name }} - <i>в резерве</i></br>
                    {% endfor %}
					</td>
                    <td>{% for f in fm.unaif.all %}					
					{% if not forloop.first %}<b><i>или</i></b> {% endif %}{{ f.name }}</br>
					{% endfor %}</td>
					</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
      </form>
    </div>
  </div>
{% endblock %}
