{% extends "lkforms/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<link rel="stylesheet" type="text/css" href="/static/css/my.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/lk/">Начало</a>
&rsaquo; FAQ
</div>
{% endblock %}

{% block content %}
<body class="login">
	<div id="mycontainer">
		<div id="content" class="colM">
			<div id="content-main">
				<p style="text-align: center;" class="at-info"><b>Список ваших любимых вопросов регулярно дополняется</b></p>
<table><tbody>

<tr><td><a name='1'></a><span class='quiet-header'>1. Регистрация</span></td></tr>

<tr><td><a name='1.1'></a>
<br><b><i> - Я зарегистрировался / попытался сменить пароль, а мне ничего не пришло. </b></i>
<br>Скажем сразу - если мы должны вам что-то отправить, в 99% случаев мы это отправляем, причем сразу.
<br>Возможно, вы ввели неправильный адрес электронной почты (или не тот адрес, на который регистрировались).
<br>Возможно, вы не проверили папку "Спам".
<br>Возможно, ваш почтовый клиент настроен так, что доставляет письма с задержкой.
<br>Если вы уверены, что попали в злосчастный 1%, пишите в техподдержку. Не нужно ждать несколько дней, пишите сразу.
</td></tr>

<tr><td><a name='1.2'></a>
<br><b><i> - Да, я ввел неверную электронную почту при регистрации. Что теперь делать?</b></i>
<br>Напишите в техподдержку. Не забудьте указать ваши данные, чтобы мы нашли ваш профиль 
(ведь мы не можем идентифицировать вас по неверно введенной почте).
</td></tr>

<tr><td><br><a name='2'></a><span class='quiet-header'>2. Вход</span></td></tr>

<tr><td><a name='2.1'></a>
<br><b><i> - Здравствуйте. Я не могу к вам зайти. </b></i>
<br>Возможно, вы еще не активировали свой профиль (через ссылку в письме, которое вы получили после регистрации).
</td></tr>

<tr><td><a name='2.2'></a>
<br><b><i> - Я активировал профиль и все равно не могу зайти. </b></i>
<br>Проверьте раскладку клавиатуры, CapsLock и тп.
<br>Убедитесь, что в поле "Имя пользователя" вводите именно логин, а не адрес электронной почты.
<br>Убедитесь, что заходите именно по адресу <a href='/lk/'>lk.internat.msu.ru/lk/</a>.
<br>Воспользуйтесь опцией "<a href='/accounts/password/reset/'>Забыли пароль или логин?</a>".
</td></tr>

<tr><td><br><a name='3'></a><span class='quiet-header'>3. Профиль</span></td></tr>

<tr><td><a name='3.1'></a>
<br><b><i> - Как поменять имя пользователя / пол / дату рождения / фио? </b></i>
<br>С почты, указанной при регистрации (чтобы мы точно знали, что это вы, а не злоумышленник), напишите в техподдержку, 
не забыв указать новый, правильный вариант ваших данных (даже если он очевиден).
<br>Также можете сформулировать свою просьбу через <a href='/lk/forum/'>Обратную связь</a>.
</td></tr>

<tr><td><a name='3.2'></a>
<br><b><i> - Я утратил доступ к электронной почте, на которую регистрировался, как ее изменить? </b></i>
<br>Напишите в техподдержку с новой почты, указав в письме старую почту и свои данные. 
Желательно указать более подробные данные, чем ФИО (если вы их вносили в личный кабинет). Например, город проживания, школа и тп.
</td></tr>

<tr><td><br><a name='4'></a><span class='quiet-header'>4. Работа с формами</span></td></tr>

<tr><td><a name='4.1'></a>
<br><b><i> - В личном кабинет нет ... формы! </b></i>
<br>Форма есть, но у вас нет к ней доступа. 
<br>Часто, чтобы получить доступ к определенной форме, сначала нужно заполнить несколько других. 
А может, вы не прошли необходимый отбор и вам вообще не нужна эта форма.
<br>Что необходимо для доступа к данной форме, вы можете узнать <a href="{% url 'lkforms:structure' %}">здесь</a>.
</td></tr>

<tr><td><a name='4.2'></a>
<br><b><i> - Так <a href="{% url 'lkforms:structure' %}">здесь</a> ее тоже нет. </b></i>
<br>Точно? Ну, значит в данный момент ее действительно нет. 
<br>Возможно, срок ее активности уже закончился (вы опоздали) или еще не начался (подождите еще немного). 
</td></tr>

<tr><td><a name='4.3'></a>
<br><b><i> - Почему у меня все за .. класс? Я учусь в .. (другом).</b></i>
<br>Потому что вы выбрали такую базовую анкету. 
<br>Напишите в техподдержку, мы отменим ее. А лучше сразу заполняйте ту, которая соответствует действительности.
<br>Если вы ученик, то внимательно читайте учебный год в названии анкеты и выбирайте тот класс, в котором вы 
учитесь (или учились!) именно в том, указанном учебном году. 
</td></tr>

<tr><td><a name='4.4'></a>
<br><b><i> - Я заполнил форму. Как узнать, что она до вас дошла (что я зарегистрирован на экзамен, прислал ответы на олимпиаду и тп)? </b></i>
<br>Откройте раздел <a href='/lk/forms/'>«Мои формы»</a>. Если напротив формы вы видите зеленую галочку (такую <img src="/static/admin/img/icon-yes.gif">), значит все в порядке.
</td></tr>

<tr><td><a name='4.5'></a>			
<br><b><i> - Я заполнил форму, а потом передумал. Как ее отменить? </b></i>
<br>Откройте раздел <a href='/lk/forms/'>«Мои формы»</a>. В колонке "Отмена регистрации" - жмите "<img src="/static/img/icon-no.gif"> Отменить" напротив нужной формы.
</td></tr>

<tr><td><a name='4.6'></a>
<br><b><i> - А тут написано "Вы не можете отменить регистрацию на эту форму". Что делать? </b></i>
<br>Напишите Вашу просьбу на <i>lksunc@gmail.com</i> или в <a href='/lk/forumall/12/'>«Обратную связь»</a> в виде личного вопроса. 
Мы не будем ругаться, а просто отменим ее. 
<br>Пожалуйста, не пытайтесь вместо этого зарегистрировать новый профиль.
</td></tr>

<tr><td><br><a name='5'></a><span class='quiet-header'>5. Результаты</span></td></tr>

<tr><td><a name='5.1'></a>
<br><b><i> - Где я могу увидеть результаты экзамена (олимпиады, тестирования и тп)? </b></i>
<br>В разделе <a href='/lk/forms/'>«Мои формы»</a> последний столбец называется "Результаты". 
<br>Если у вас есть результат по тематике данной формы, в этом столбце появится ссылка "Посмотреть". Перейдите по ней. 
</td></tr>

<tr><td><a name='5.2'></a>
<br><b><i> - Вместо ссылки "Посмотреть" здесь написано "Заполните форму, чтобы увидеть результат". </b></i>
<br>Это значит, что результат есть, но вы не сможете его увидеть, пока не заполните данную форму.
<br>Заполните ее, и ссылка на результат появится немедленно. 
</td></tr>

<tr><td><a name='5.3'></a>
<br><b><i> - У меня вообще ничего нет в столбце "Результаты" по данной форме. Что делать?</b></i>
<br>Возможно, по тематике этой формы не предусмотрено результатов.
<br>Возможно, результаты по этой тематике привязаны к другой форме. Внимательно посмотрите на все формы в вашем личном кабинете и пояснения к ним. 
</td></tr>

<tr><td><a name='5.4'></a>
<br><b><i> - Я уверен, что результаты должны быть здесь, но их нет.</b></i>
<br>Скорее всего, система не может идентифицировать вас, чтобы сообщить вам ваш результат.
<br>Убедитесь, что ФИО и дата рождения заполнены без ошибок. 
<br>Убедитесь, что это именно ваши данные (а не ваших родителей или кого-то, кто регистрировал личный кабинет). 
<br>Если в ваших данных возможны разночтения (в основном, это касается граждан других государств), убедитесь, что в личном кабинете они указаны именно в том же виде, в каком вы указываете их при участии в очных мероприятиях (экзамен, сборы и тп). 
</td></tr>

</tbody></table>	
			</div>
			<br class="clear" />
		</div>
	</div>
</body>
{% endblock %}
