{% extends "lkforms/base.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url 'index' %}">Начало</a>
&rsaquo; Формы, доступные для просмотра</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
	<div class="module" id="changelist">
		<form id="changelist-form">
		{% csrf_token %}
			<div class="results">
				<table id="result_list">
				<thead>
				<tr><th scope="col"><div class="text"><span>Форма</span></div><div class="clear"></div></th>
				<th scope="col"><div class="text"><span>Посмотреть внешний вид</span></div><div class="clear"></div></th>
				<th scope="col"><div class="text"><span>Скачать в txt</span></div><div class="clear"></div></th>
				</thead>
				<tbody>
				{% for fm in fms %}
					<tr class="{% cycle 'row1' 'row2' %}"><th>{{ fm.name }}</th>
					<td>{{ fm.view_form }}</td>
					<td>{{ fm.user_download_txt }}</td>
					</tr>
				{% endfor %}
				</tbody>
				</table>
			</div>
		</form>
    </div>
</div>
{% endblock %}
